<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>USV manage DB</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand"><a href="/student/allStudents" class="navbrand-style">USV DataBase</a> </p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li id="home"><a href="/student/allStudents">All Students</a></li>
        <li id="contact"><a href="/student/createAStudent">Create</a></li>
        <li id="contact"><a href="/student/searchStudent">Search</a></li>
        <li id="contact"><a href="/student/updateAStudent">Upadte </a></li>
        <li id="contact"><a href="/student/deleteOneStudent">Delete</a></li>

      </ul>
    </div>
  </nav>

<body>
  <div class="container">
