<%- include("../partials/header") -%>
     <h1 class="res_pos">Fail!!</h1>
     <p style=" text-align:center">
          <%= errorStatus %>
     </p>
     <form action="/" method="get">
          <button type="submit" class="btn btn-outline-danger res_pos res_pos_fail">Home</button>
     </form>
     <%- include("../partials/footer") -%>