<%- include("../partials/header") -%>
     <h1 style="text-align:center">Success!</h1>
     <form action="/" method="get">
          <button type="submit" class="btn btn-outline-success res_pos res_pos_success">Home</button>
     </form>
     <%- include("../partials/footer") -%>