<%- include("partials/header") -%>
     <h1 class="cl_404">Something works wrong :(</h1>
     <form action="/" method="get">
          <h1 class="cl_404">UPS 404</h1>
          <h3 class="cl_404">File not found</h3>
          <button type="submit" class="btn btn-primary res_pos">Home</button>
     </form>
     <%- include("partials/footer") -%>